.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  width: 100%;
  position: fixed;
  z-index: 50;
  font-family: "Marko One", serif;
  top: 0px;

  text-transform: capitalize;
  color: #fff;
}
.list2 {
  display: none;
}
.navbar-container .list1 {
  display: flex;
  gap: 100px;
  list-style: none;
}
.navbar-container .list li {
  cursor: pointer;
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
}
.navbar-container .list li {
  color: #f5b207;
}
.navbar-container img {
  height: 50px;
   visibility: hidden;
}
.burger {
  display: none;
}
@media (max-width: 480px) {
/* @media (max-width: 426px) { */
  .navbar-container {
    background-color: rgba(0, 0, 0, 0.729);
  }
  .navbar-container .list1 {
    display: none;
  }
  .burger {
    display: flex;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  .list2 {
    position: fixed;
    z-index: 150;
    top: 10vh;
    text-align: center;
    text-transform: uppercase;
    padding: 8.2rem 0;
    display: flex;
    /* border-bottom: 1px solid; */
    flex-direction: column;
    gap: 2rem;
    background-color: rgba(0, 0, 0, 0.916);
    width: 100%;
    font-size: 16px;
  }
  .icon {
    display: none;
  }
  .NavMenuItem {
    cursor: pointer;
  }
  .navbar-container img {
    display: flex;
    visibility: visible;
    /* border: 1px solid; */
    
  }
  .NavMenuItem{
    color: #fff;
  }
  .NavMenuItem:hover{
    color: #f5b207;
  }
}
